@media screen and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    margin: 0;
  }

  .navigation a {
    padding: 1rem;
  }

  .hero {
    display: grid;
  }

  .hero picture,
  .hero img {
    grid-column: 1;
    grid-row: 1;
  }

  .hero-content {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    max-width: 600px;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 8px;
    text-align: center;
  }

  .home-grid {
    grid-template-columns: 2fr 1fr;
  }

  .spotlight-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list .member-card {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  .list .member-card h2,
  .list .member-card p,
  .list .member-card a {
    margin: 0;
  }

  .join-layout {
    grid-template-columns: 2fr 1fr;
    align-items: start;
    max-width: 1100px;
    margin: 0 auto;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}